[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
[submodule "hl2sdk-cs2"]
	path = hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = cs2
[submodule "vendor/MultiAddonManager"]
	path = vendor/MultiAddonManager
	url = https://github.com/Source2ZE/MultiAddonManager
[submodule "vendor/ClientCvarValue"]
	path = vendor/ClientCvarValue
	url = https://github.com/komashchenko/ClientCvarValue.git
[submodule "vendor/sql_mm"]
	path = vendor/sql_mm
	url = https://github.com/zer0k-z/sql_mm.git
