.x--neg100pct {
	x: -100%;
}

.x--neg99pct {
	x: -99%;
}

.x--neg98pct {
	x: -98%;
}

.x--neg97pct {
	x: -97%;
}

.x--neg96pct {
	x: -96%;
}

.x--neg95pct {
	x: -95%;
}

.x--neg94pct {
	x: -94%;
}

.x--neg93pct {
	x: -93%;
}

.x--neg92pct {
	x: -92%;
}

.x--neg91pct {
	x: -91%;
}

.x--neg90pct {
	x: -90%;
}

.x--neg89pct {
	x: -89%;
}

.x--neg88pct {
	x: -88%;
}

.x--neg87pct {
	x: -87%;
}

.x--neg86pct {
	x: -86%;
}

.x--neg85pct {
	x: -85%;
}

.x--neg84pct {
	x: -84%;
}

.x--neg83pct {
	x: -83%;
}

.x--neg82pct {
	x: -82%;
}

.x--neg81pct {
	x: -81%;
}

.x--neg80pct {
	x: -80%;
}

.x--neg79pct {
	x: -79%;
}

.x--neg78pct {
	x: -78%;
}

.x--neg77pct {
	x: -77%;
}

.x--neg76pct {
	x: -76%;
}

.x--neg75pct {
	x: -75%;
}

.x--neg74pct {
	x: -74%;
}

.x--neg73pct {
	x: -73%;
}

.x--neg72pct {
	x: -72%;
}

.x--neg71pct {
	x: -71%;
}

.x--neg70pct {
	x: -70%;
}

.x--neg69pct {
	x: -69%;
}

.x--neg68pct {
	x: -68%;
}

.x--neg67pct {
	x: -67%;
}

.x--neg66pct {
	x: -66%;
}

.x--neg65pct {
	x: -65%;
}

.x--neg64pct {
	x: -64%;
}

.x--neg63pct {
	x: -63%;
}

.x--neg62pct {
	x: -62%;
}

.x--neg61pct {
	x: -61%;
}

.x--neg60pct {
	x: -60%;
}

.x--neg59pct {
	x: -59%;
}

.x--neg58pct {
	x: -58%;
}

.x--neg57pct {
	x: -57%;
}

.x--neg56pct {
	x: -56%;
}

.x--neg55pct {
	x: -55%;
}

.x--neg54pct {
	x: -54%;
}

.x--neg53pct {
	x: -53%;
}

.x--neg52pct {
	x: -52%;
}

.x--neg51pct {
	x: -51%;
}

.x--neg50pct {
	x: -50%;
}

.x--neg49pct {
	x: -49%;
}

.x--neg48pct {
	x: -48%;
}

.x--neg47pct {
	x: -47%;
}

.x--neg46pct {
	x: -46%;
}

.x--neg45pct {
	x: -45%;
}

.x--neg44pct {
	x: -44%;
}

.x--neg43pct {
	x: -43%;
}

.x--neg42pct {
	x: -42%;
}

.x--neg41pct {
	x: -41%;
}

.x--neg40pct {
	x: -40%;
}

.x--neg39pct {
	x: -39%;
}

.x--neg38pct {
	x: -38%;
}

.x--neg37pct {
	x: -37%;
}

.x--neg36pct {
	x: -36%;
}

.x--neg35pct {
	x: -35%;
}

.x--neg34pct {
	x: -34%;
}

.x--neg33pct {
	x: -33%;
}

.x--neg32pct {
	x: -32%;
}

.x--neg31pct {
	x: -31%;
}

.x--neg30pct {
	x: -30%;
}

.x--neg29pct {
	x: -29%;
}

.x--neg28pct {
	x: -28%;
}

.x--neg27pct {
	x: -27%;
}

.x--neg26pct {
	x: -26%;
}

.x--neg25pct {
	x: -25%;
}

.x--neg24pct {
	x: -24%;
}

.x--neg23pct {
	x: -23%;
}

.x--neg22pct {
	x: -22%;
}

.x--neg21pct {
	x: -21%;
}

.x--neg20pct {
	x: -20%;
}

.x--neg19pct {
	x: -19%;
}

.x--neg18pct {
	x: -18%;
}

.x--neg17pct {
	x: -17%;
}

.x--neg16pct {
	x: -16%;
}

.x--neg15pct {
	x: -15%;
}

.x--neg14pct {
	x: -14%;
}

.x--neg13pct {
	x: -13%;
}

.x--neg12pct {
	x: -12%;
}

.x--neg11pct {
	x: -11%;
}

.x--neg10pct {
	x: -10%;
}

.x--neg9pct {
	x: -9%;
}

.x--neg8pct {
	x: -8%;
}

.x--neg7pct {
	x: -7%;
}

.x--neg6pct {
	x: -6%;
}

.x--neg5pct {
	x: -5%;
}

.x--neg4pct {
	x: -4%;
}

.x--neg3pct {
	x: -3%;
}

.x--neg2pct {
	x: -2%;
}

.x--neg1pct {
	x: -1%;
}

.x--0pct {
	x: 0%;
}

.x--1pct {
	x: 1%;
}

.x--2pct {
	x: 2%;
}

.x--3pct {
	x: 3%;
}

.x--4pct {
	x: 4%;
}

.x--5pct {
	x: 5%;
}

.x--6pct {
	x: 6%;
}

.x--7pct {
	x: 7%;
}

.x--8pct {
	x: 8%;
}

.x--9pct {
	x: 9%;
}

.x--10pct {
	x: 10%;
}

.x--11pct {
	x: 11%;
}

.x--12pct {
	x: 12%;
}

.x--13pct {
	x: 13%;
}

.x--14pct {
	x: 14%;
}

.x--15pct {
	x: 15%;
}

.x--16pct {
	x: 16%;
}

.x--17pct {
	x: 17%;
}

.x--18pct {
	x: 18%;
}

.x--19pct {
	x: 19%;
}

.x--20pct {
	x: 20%;
}

.x--21pct {
	x: 21%;
}

.x--22pct {
	x: 22%;
}

.x--23pct {
	x: 23%;
}

.x--24pct {
	x: 24%;
}

.x--25pct {
	x: 25%;
}

.x--26pct {
	x: 26%;
}

.x--27pct {
	x: 27%;
}

.x--28pct {
	x: 28%;
}

.x--29pct {
	x: 29%;
}

.x--30pct {
	x: 30%;
}

.x--31pct {
	x: 31%;
}

.x--32pct {
	x: 32%;
}

.x--33pct {
	x: 33%;
}

.x--34pct {
	x: 34%;
}

.x--35pct {
	x: 35%;
}

.x--36pct {
	x: 36%;
}

.x--37pct {
	x: 37%;
}

.x--38pct {
	x: 38%;
}

.x--39pct {
	x: 39%;
}

.x--40pct {
	x: 40%;
}

.x--41pct {
	x: 41%;
}

.x--42pct {
	x: 42%;
}

.x--43pct {
	x: 43%;
}

.x--44pct {
	x: 44%;
}

.x--45pct {
	x: 45%;
}

.x--46pct {
	x: 46%;
}

.x--47pct {
	x: 47%;
}

.x--48pct {
	x: 48%;
}

.x--49pct {
	x: 49%;
}

.x--50pct {
	x: 50%;
}

.x--51pct {
	x: 51%;
}

.x--52pct {
	x: 52%;
}

.x--53pct {
	x: 53%;
}

.x--54pct {
	x: 54%;
}

.x--55pct {
	x: 55%;
}

.x--56pct {
	x: 56%;
}

.x--57pct {
	x: 57%;
}

.x--58pct {
	x: 58%;
}

.x--59pct {
	x: 59%;
}

.x--60pct {
	x: 60%;
}

.x--61pct {
	x: 61%;
}

.x--62pct {
	x: 62%;
}

.x--63pct {
	x: 63%;
}

.x--64pct {
	x: 64%;
}

.x--65pct {
	x: 65%;
}

.x--66pct {
	x: 66%;
}

.x--67pct {
	x: 67%;
}

.x--68pct {
	x: 68%;
}

.x--69pct {
	x: 69%;
}

.x--70pct {
	x: 70%;
}

.x--71pct {
	x: 71%;
}

.x--72pct {
	x: 72%;
}

.x--73pct {
	x: 73%;
}

.x--74pct {
	x: 74%;
}

.x--75pct {
	x: 75%;
}

.x--76pct {
	x: 76%;
}

.x--77pct {
	x: 77%;
}

.x--78pct {
	x: 78%;
}

.x--79pct {
	x: 79%;
}

.x--80pct {
	x: 80%;
}

.x--81pct {
	x: 81%;
}

.x--82pct {
	x: 82%;
}

.x--83pct {
	x: 83%;
}

.x--84pct {
	x: 84%;
}

.x--85pct {
	x: 85%;
}

.x--86pct {
	x: 86%;
}

.x--87pct {
	x: 87%;
}

.x--88pct {
	x: 88%;
}

.x--89pct {
	x: 89%;
}

.x--90pct {
	x: 90%;
}

.x--91pct {
	x: 91%;
}

.x--92pct {
	x: 92%;
}

.x--93pct {
	x: 93%;
}

.x--94pct {
	x: 94%;
}

.x--95pct {
	x: 95%;
}

.x--96pct {
	x: 96%;
}

.x--97pct {
	x: 97%;
}

.x--98pct {
	x: 98%;
}

.x--99pct {
	x: 99%;
}

.x--100pct {
	x: 100%;
}

.y--neg100pct {
	y: -100%;
}

.y--neg99pct {
	y: -99%;
}

.y--neg98pct {
	y: -98%;
}

.y--neg97pct {
	y: -97%;
}

.y--neg96pct {
	y: -96%;
}

.y--neg95pct {
	y: -95%;
}

.y--neg94pct {
	y: -94%;
}

.y--neg93pct {
	y: -93%;
}

.y--neg92pct {
	y: -92%;
}

.y--neg91pct {
	y: -91%;
}

.y--neg90pct {
	y: -90%;
}

.y--neg89pct {
	y: -89%;
}

.y--neg88pct {
	y: -88%;
}

.y--neg87pct {
	y: -87%;
}

.y--neg86pct {
	y: -86%;
}

.y--neg85pct {
	y: -85%;
}

.y--neg84pct {
	y: -84%;
}

.y--neg83pct {
	y: -83%;
}

.y--neg82pct {
	y: -82%;
}

.y--neg81pct {
	y: -81%;
}

.y--neg80pct {
	y: -80%;
}

.y--neg79pct {
	y: -79%;
}

.y--neg78pct {
	y: -78%;
}

.y--neg77pct {
	y: -77%;
}

.y--neg76pct {
	y: -76%;
}

.y--neg75pct {
	y: -75%;
}

.y--neg74pct {
	y: -74%;
}

.y--neg73pct {
	y: -73%;
}

.y--neg72pct {
	y: -72%;
}

.y--neg71pct {
	y: -71%;
}

.y--neg70pct {
	y: -70%;
}

.y--neg69pct {
	y: -69%;
}

.y--neg68pct {
	y: -68%;
}

.y--neg67pct {
	y: -67%;
}

.y--neg66pct {
	y: -66%;
}

.y--neg65pct {
	y: -65%;
}

.y--neg64pct {
	y: -64%;
}

.y--neg63pct {
	y: -63%;
}

.y--neg62pct {
	y: -62%;
}

.y--neg61pct {
	y: -61%;
}

.y--neg60pct {
	y: -60%;
}

.y--neg59pct {
	y: -59%;
}

.y--neg58pct {
	y: -58%;
}

.y--neg57pct {
	y: -57%;
}

.y--neg56pct {
	y: -56%;
}

.y--neg55pct {
	y: -55%;
}

.y--neg54pct {
	y: -54%;
}

.y--neg53pct {
	y: -53%;
}

.y--neg52pct {
	y: -52%;
}

.y--neg51pct {
	y: -51%;
}

.y--neg50pct {
	y: -50%;
}

.y--neg49pct {
	y: -49%;
}

.y--neg48pct {
	y: -48%;
}

.y--neg47pct {
	y: -47%;
}

.y--neg46pct {
	y: -46%;
}

.y--neg45pct {
	y: -45%;
}

.y--neg44pct {
	y: -44%;
}

.y--neg43pct {
	y: -43%;
}

.y--neg42pct {
	y: -42%;
}

.y--neg41pct {
	y: -41%;
}

.y--neg40pct {
	y: -40%;
}

.y--neg39pct {
	y: -39%;
}

.y--neg38pct {
	y: -38%;
}

.y--neg37pct {
	y: -37%;
}

.y--neg36pct {
	y: -36%;
}

.y--neg35pct {
	y: -35%;
}

.y--neg34pct {
	y: -34%;
}

.y--neg33pct {
	y: -33%;
}

.y--neg32pct {
	y: -32%;
}

.y--neg31pct {
	y: -31%;
}

.y--neg30pct {
	y: -30%;
}

.y--neg29pct {
	y: -29%;
}

.y--neg28pct {
	y: -28%;
}

.y--neg27pct {
	y: -27%;
}

.y--neg26pct {
	y: -26%;
}

.y--neg25pct {
	y: -25%;
}

.y--neg24pct {
	y: -24%;
}

.y--neg23pct {
	y: -23%;
}

.y--neg22pct {
	y: -22%;
}

.y--neg21pct {
	y: -21%;
}

.y--neg20pct {
	y: -20%;
}

.y--neg19pct {
	y: -19%;
}

.y--neg18pct {
	y: -18%;
}

.y--neg17pct {
	y: -17%;
}

.y--neg16pct {
	y: -16%;
}

.y--neg15pct {
	y: -15%;
}

.y--neg14pct {
	y: -14%;
}

.y--neg13pct {
	y: -13%;
}

.y--neg12pct {
	y: -12%;
}

.y--neg11pct {
	y: -11%;
}

.y--neg10pct {
	y: -10%;
}

.y--neg9pct {
	y: -9%;
}

.y--neg8pct {
	y: -8%;
}

.y--neg7pct {
	y: -7%;
}

.y--neg6pct {
	y: -6%;
}

.y--neg5pct {
	y: -5%;
}

.y--neg4pct {
	y: -4%;
}

.y--neg3pct {
	y: -3%;
}

.y--neg2pct {
	y: -2%;
}

.y--neg1pct {
	y: -1%;
}

.y--0pct {
	y: 0%;
}

.y--1pct {
	y: 1%;
}

.y--2pct {
	y: 2%;
}

.y--3pct {
	y: 3%;
}

.y--4pct {
	y: 4%;
}

.y--5pct {
	y: 5%;
}

.y--6pct {
	y: 6%;
}

.y--7pct {
	y: 7%;
}

.y--8pct {
	y: 8%;
}

.y--9pct {
	y: 9%;
}

.y--10pct {
	y: 10%;
}

.y--11pct {
	y: 11%;
}

.y--12pct {
	y: 12%;
}

.y--13pct {
	y: 13%;
}

.y--14pct {
	y: 14%;
}

.y--15pct {
	y: 15%;
}

.y--16pct {
	y: 16%;
}

.y--17pct {
	y: 17%;
}

.y--18pct {
	y: 18%;
}

.y--19pct {
	y: 19%;
}

.y--20pct {
	y: 20%;
}

.y--21pct {
	y: 21%;
}

.y--22pct {
	y: 22%;
}

.y--23pct {
	y: 23%;
}

.y--24pct {
	y: 24%;
}

.y--25pct {
	y: 25%;
}

.y--26pct {
	y: 26%;
}

.y--27pct {
	y: 27%;
}

.y--28pct {
	y: 28%;
}

.y--29pct {
	y: 29%;
}

.y--30pct {
	y: 30%;
}

.y--31pct {
	y: 31%;
}

.y--32pct {
	y: 32%;
}

.y--33pct {
	y: 33%;
}

.y--34pct {
	y: 34%;
}

.y--35pct {
	y: 35%;
}

.y--36pct {
	y: 36%;
}

.y--37pct {
	y: 37%;
}

.y--38pct {
	y: 38%;
}

.y--39pct {
	y: 39%;
}

.y--40pct {
	y: 40%;
}

.y--41pct {
	y: 41%;
}

.y--42pct {
	y: 42%;
}

.y--43pct {
	y: 43%;
}

.y--44pct {
	y: 44%;
}

.y--45pct {
	y: 45%;
}

.y--46pct {
	y: 46%;
}

.y--47pct {
	y: 47%;
}

.y--48pct {
	y: 48%;
}

.y--49pct {
	y: 49%;
}

.y--50pct {
	y: 50%;
}

.y--51pct {
	y: 51%;
}

.y--52pct {
	y: 52%;
}

.y--53pct {
	y: 53%;
}

.y--54pct {
	y: 54%;
}

.y--55pct {
	y: 55%;
}

.y--56pct {
	y: 56%;
}

.y--57pct {
	y: 57%;
}

.y--58pct {
	y: 58%;
}

.y--59pct {
	y: 59%;
}

.y--60pct {
	y: 60%;
}

.y--61pct {
	y: 61%;
}

.y--62pct {
	y: 62%;
}

.y--63pct {
	y: 63%;
}

.y--64pct {
	y: 64%;
}

.y--65pct {
	y: 65%;
}

.y--66pct {
	y: 66%;
}

.y--67pct {
	y: 67%;
}

.y--68pct {
	y: 68%;
}

.y--69pct {
	y: 69%;
}

.y--70pct {
	y: 70%;
}

.y--71pct {
	y: 71%;
}

.y--72pct {
	y: 72%;
}

.y--73pct {
	y: 73%;
}

.y--74pct {
	y: 74%;
}

.y--75pct {
	y: 75%;
}

.y--76pct {
	y: 76%;
}

.y--77pct {
	y: 77%;
}

.y--78pct {
	y: 78%;
}

.y--79pct {
	y: 79%;
}

.y--80pct {
	y: 80%;
}

.y--81pct {
	y: 81%;
}

.y--82pct {
	y: 82%;
}

.y--83pct {
	y: 83%;
}

.y--84pct {
	y: 84%;
}

.y--85pct {
	y: 85%;
}

.y--86pct {
	y: 86%;
}

.y--87pct {
	y: 87%;
}

.y--88pct {
	y: 88%;
}

.y--89pct {
	y: 89%;
}

.y--90pct {
	y: 90%;
}

.y--91pct {
	y: 91%;
}

.y--92pct {
	y: 92%;
}

.y--93pct {
	y: 93%;
}

.y--94pct {
	y: 94%;
}

.y--95pct {
	y: 95%;
}

.y--96pct {
	y: 96%;
}

.y--97pct {
	y: 97%;
}

.y--98pct {
	y: 98%;
}

.y--99pct {
	y: 99%;
}

.y--100pct {
	y: 100%;
}
