name: CRLF and final newlines checks

on:
  pull_request:
  push:

jobs:
  check-newlines:
    name: Check for CRLF and final newlines
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ./scripts/check-newlines.sh
